    <div class="card h-100 hoverable">
        {% if member.image %}
            {%
                include figure.liquid
                loading="eager"
                path=member.image
                sizes="250px"
                alt=member.name
                class="card-img-top"
            %}
        {% endif %}
        <div class="card-body">
            <h6 class="card-title"> <a href="{{ member.website }}"> {{ member.name }} </a></h6>
            <div class="d-flex justify-content-between align-items-center">
                <span class="card-text">{{ member.role }}</span>
            </div>
            <div>
                <span class="card-text">{{ member.affiliation }}</span>
            </div>
        </div>
    </div>